.action {
    cursor: pointer;
}

.avoid-break {
    page-break-inside: avoid;
}

.grayed-out {
    color: #aaa !important;
}

.grid-header {
    text-align: center;
}

div.navbar[role="navigation"] div.navbar-collapse {
    display: none !important;
}

.navbar-default {
    background-color: #0c5449;
}

@media print {

    body {
        padding-top: 0;
    }

    .fa-arrow-left,
    .fa-arrow-right,
    .fa-print,
    .fa-sort,
    .fa-sort-amount-asc,
    .fa-sort-amount-desc,
    .grayed-out,
    .no-print {
        display: none;
    }

    .grid-header {
        text-align: left;
    }
}
