/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

a {
    color: #066;
    text-decoration: none;
}

a:hover {
    color: #066;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Breadcrumbs
 */

.breadcrumb {
    font-size: small !important;
    margin-top: 15px;
    padding: 3px 3px 3px 5px;
}

/*
 * Main
 */

.main {
    padding: 15px;
}

/*
 * Navigation
 */

/*
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

.nav a {
    color: #333;
}

.navbar-text.visible-xs {
    margin-bottom: 0;
}

/* Page Header */
.page-header.white-label-ui-page-header {
    margin: 0 0 15px 0;
    padding: 0;
}

.page-header.white-label-ui-page-header h1 {
    font-size: 26px;
}

/* Pagination */
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #066;

}

.pagination > li > a, .pagination > li > span {
    color: #066;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #bbb;
    }
}

/* Sidebar Navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #066;
    background-color: #cfdedc;
}
